/*
********
RESET
******** 
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background-color: #00000000;
    border: 0;
    color: none;
}

/*
********
COMMON
******** 
 */

.flex {
    display: flex;
}

body {
    background-color: black;
    font-size: 14px;
    color: white;
}

.container .box-cam,
.container img {
    width: 245px;
    height: 145px;
    margin-bottom: 5px;
}


/*
********
HEADER
******** 
 */

header {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: flex-start;
    height: 75px;
}

header div {
    display: inline-block;
    padding: 5px;
    margin-top: 5px;
    background-color: gray;
    border-radius: 5px;
}

/*
********
MAIN
******** 
 */

main {
    padding: 0 px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    /* todo: debug */
    justify-content: center;
    gap: 10px;
    height: calc(100vh - 165px);
    overflow-y: scroll;
}

.container .box-cam {
    position: relative;
}

.container .box-cam .user-name {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5px;
    background-color: #0000007e;
}

/*
********
FOOTER  
******** 
 */

footer.flex {
    margin-top: 20px;
    height: 70px;
    background-color: #222222;
    justify-content: space-between;
}

.box-mid {
    width: 60%;
    height: 70px;
    align-items: center;
    gap: 15px;
    padding: 15px;
    justify-content: center;
}

.box1 {
    height: 70px;
    width: 20%;
    align-items: center;
    gap: 15px;
    padding: 15px;
}

.box2 {
    height: 70px;
    width: 20%;
    text-align: right;
    justify-content: center;
    align-items: center;
}

footer .cam-mic,
.icon {
    text-align: center;
}

.cam-mic div,
.icon div {
    margin-top: 5px;
    font-size: 14px;
}

.btn,
.btn-sharesc {
    font-size: 25px;
    color: white;
}

.btn-sharesc {
    color: #4bc800;
}

.btn-call {
    background-color: #4a4a4a;
    width: 120px;
    height: 70px;
    font-size: 12px;
    color: red;
    font-weight: bold;
}

footer .text {
    font-size: 12px;
}