/*
********
RESET
******** 
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background-color: #00000000;
    border: 0;
    color: none;
}

/*
********
COMMON
******** 
 */

.flex {
    display: flex;
}

body {
    background-color: black;
    font-size: 14px;
    color: white;
}

.container .box-cam,
.container img {
    width: 245px;
    height: 145px;
    margin-bottom: 5px;
}


/*
********
HEADER
******** 
 */

header {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: flex-start;
    height: 75px;
}

header div {
    display: inline-block;
    padding: 5px;
    margin-top: 5px;
    background-color: gray;
    border-radius: 5px;
}

/*
********
MAIN
******** 
 */

main {
    padding: 0 px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    /* todo: debug */
    justify-content: center;
    gap: 10px;
    height: calc(100vh - 165px);
    overflow-y: scroll;
}

.container .box-cam {
    position: relative;
}

.container .box-cam .user-name {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5px;
    background-color: #0000007e;
}

/*
********
FOOTER  
******** 
 */


footer.flex {
    margin-top: 20px;
    height: 70px;
    background-color: #222222;
    justify-content: space-between;
    align-items: center;
}

footer section.flex .opzioni {
    margin-left: 10px;
}



.comandi {
    margin-bottom: 5px;
    text-align: center;
}

div.comandi .arrow-up {
    margin-left: 20px;
    font-size: 10px;
    vertical-align: bottom;
}

.opzioni {
    margin-right: 15px;
}

.icon {
    font-size: 20px;
}

.middleicon {
    color: rgb(80, 133, 0);
}

.text {
    font-size: 13px;
}

.call-end {
    padding: 25px;
    background-color: #4a4a4a;
    color: red;

}